<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p>lastname</p>
    <%= f.text_field :tourist_lastname, autofocus: true %>
  </div>

  <div class="field">
    <p>firstname</p>
    <%= f.text_field :tourist_firstname, autofocus: true %>
  </div>

  <div class="field">
    <p>username</p>
    <%= f.text_field :tourist_username, autofocus: true %>
  </div>

  <div class="field">
    <p>性別</p>
      <label><%= f.radio_button :tourist_gender, 1 %>male</label>
      <label><%= f.radio_button :tourist_gender, 2 %>female</label>
      <label><%= f.radio_button :tourist_gender, 3 %>other</label>
  </div>

  <div class="field">
    <p>age</p>
      <%= f.text_field :tourist_age, autofocus: true %>
  </div>

  <div class="field">
    <p>profile-image</p>
    <%= f.file_field :tourist_profile_image, size:10, maxlength:15 %>
  </div>


  <div class="field">
    <p>description</p>
    <%= f.text_field :tourist_about_me, autofocus: true %>
  </div>


  <div class="field">
    <p>fromdate</p>
    <%= f.date_field :fromdate%>
  </div>

  <div class="field">
    <p>todate</p>
    <%= f.date_field :todate%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "tourists/shared/links" %>
