<h1>GUIDES</h1>

<div class="container">
	<%= search_form_for @q do |f| %>
	<div class="row">
		<div class="col-lg-10 col-12">
			<div class="row">
				<div class="col-lg-4 col-12">
					<p class="search-title">place</p>
					<%= f.collection_select :able_to_guide_places_guide_place_cont_any, AbleToGuidePlace.select(:guide_place).distinct, :guide_place, :guide_place, :include_blank => '---' %>
				</div>
				<div class="col-lg-4 col-12">
					<p class="search-title">placticing language</p>
					<%= f.collection_select :guide_practicing_launguages_guide_practicing_cont, GuidePracticingLaunguage.select(:guide_practicing).distinct, :guide_practicing, :guide_practicing, :include_blank => '---' %>
				</div>
				<div class="col-lg-4 col-12">
					<p class="search-title">age</p>
				  <%= f.number_field :guide_age_gteq, min: 16, max: 59, size: 1 %>-
				  <%= f.number_field :guide_age_lt, min: 16, max: 59, size: 1 %>
				</div>
				<div class="col-lg-6 mt-3 col-12">
					<p class="search-title">date</p>
					<%= f.date_field :dayofweeks_day_gteq, include_blank: true, selected: Date.today %>
				</div>
				<div class="col-lg-6 mt-3 col-12">
					<p class="search-title">gender</p>
					<%= f.radio_button :guide_gender_eq, '', {:checked => true} %>blank
					<%= f.radio_button :guide_gender_eq, 1 %>male
					<%= f.radio_button :guide_gender_eq, 2 %>female
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-12 mt-5"><%= f.submit "serch", class: "form-control btn-outline-secondary" %></div>
	</div>
	<% end %>


	<div class="row">
		<% @guides.each do |guide| %>
			<div class="col-lg-4 col-6" style="margin-top:70px;">
				<%= link_to guide_path(guide.id) do %>
		      <%= attachment_image_tag guide, :guide_profile_image, :fill, 1000, 1000, class: "rounded w-100" %>
		    <% end %>
		    <h5><%= guide.guide_username %></h5>
		    <h6><%= guide.guide_about_me.truncate(20) %></h6>
	  	</div>
		<% end %>
	</div>
	<%= paginate @guides %>
</div>
