
<h1>Guidesmypage</h1>
<div class="container">
 	<div class="row">
  		<div class="col">
  			<div class="float-right">
			<%= attachment_image_tag current_guide, :guide_profile_image, :fill, 1000, 1000, size: '150x150', fallback: "no_image.jpg", class: "rounded-circle"  %>
			</div>
		</div>
		<%= form_for @guide, url:guide_path, method: :patch do |f| %>
		<div class="col">
			<div class="row" style="margin:30px;">
				<div class="col-xl-4"><p>名前</p></div>
				<div class="col-xl-6">
					<%= f.text_field :guide_lastname %><%= f.text_field :guide_firstname %>
				</div>
			</div>
			<div class="row" style="margin:30px;">
				<div class="col-xl-4"><p>ユーザー名</p></div>
				<div class="col-xl-6">
					<%= f.text_field :guide_username %>
				</div>
			</div>
			<div class="row" style="margin:30px;">
				<div class="col-xl-4"><p>性別</p></div>
				<div class="col-xl-6">
			        <label><%= f.radio_button :guide_gender, 1 %>男</label>
			        <label><%= f.radio_button :guide_gender, 2 %>女</label>
			        <label><%= f.radio_button :guide_gender, 3 %>その他</label>
				</div>
			</div>
			<div class="row" style="margin:30px;">
				<div class="col-xl-4"><p>年齢</p></div>
				<div class="col-xl-6">
					<%= f.text_field :guide_age %>
				</div>
			</div>
			<div class="row" style="margin:30px;">
				<div class="col-xl-4"><p>自己紹介</p></div>
				<div class="col-xl-6">
					<%= f.text_field :guide_about_me %>
				</div>
			</div>
			<div class="row" style="margin:30px;">
				<div class="col-xl-4"><p>案内可能日時</p></div>
				<div class="col-xl-6">
					<%= f.date_field :daysofweek %>
				</div>
			</div>

			<%= f.fields_for :guide_native_launguages do |guide_native_launguage| %>
				<div class="row" style="margin:30px;">
					<div class="col-xl-4"><p>母国語</p></div>
					<div class="col-xl-6">
						<%= render "guide_native_launguage_fields", f: guide_native_launguage %>
					<div class="links">
						<%= link_to_add_association "+", f, :guide_native_launguages %>
					</div>
					</div>
				</div>
			<% end %>
			<%= f.fields_for :guide_native_countries do |guide_native_country| %>
				<div class="row" style="margin:30px;">
					<div class="col-xl-4"><p>母国</p></div>
					<div class="col-xl-6">
						<%= render "guide_native_country_fields", f: guide_native_country %>
					<div class="links">
						<%= link_to_add_association "+", f, :guide_native_countries %>
					</div>
					</div>
				</div>
			<% end %>
			<%= f.fields_for :guide_practicing_launguages do |guide_practicing_launguage| %>
				<div class="row" style="margin:30px;">
					<div class="col-xl-4"><p>学習言語</p></div>
					<div class="col-xl-6">
						<%= render "guide_practicing_launguage_fields", f: guide_practicing_launguage %>
					<div class="links">
						<%= link_to_add_association "+", f, :guide_practicing_launguages %>
					</div>
					</div>
				</div>
			<% end %>


			<%= f.submit "Update", class:"btn btn-warning" %>
		<% end %>
		</div>
	</div>
</div>
<%= link_to "logout", destroy_guide_session_path, method: :delete %>

