<div class="container">
 	<div class="row">
		<h1></h1>
			<div class="col-sm-12">
				<div class="row">
					<div class="col-6">
						<%= attachment_image_tag @guide, :guide_profile_image, :fill, 1000, 1000, size: '300x300', class: "rounded-circle"  %>
					</div>
					<div class="col-6">
							<div class="type-shine">Hello guys !</div><br>
							<div class="type-shine">I'm <%= @guide.guide_username %>.(<%= @tourist.tourist_age %>)</div>
					</div>
				</div>
			</div>

			<div class="mx-auto"><%= @guide.guide_about_me %>

			<div class="mx-auto">
				<% if @room.exists? %>
					<%= link_to "チャットへ", room_path(current_tourist.rooms.find_by(guide_id: @guide.id)), class: "btn btn-outline-danger" %>
				<% else %>
	    		<%= form_for [:guide, @newroom], url: rooms_path do |f| %>
	      		<%= f.hidden_field :guide_id, :value => @guide.id %>
	        	<%= button_tag(class: "btn btn-outline-danger") do %>
	          	<%= content_tag :span, "チャットする" %>
	        	<% end %>
	    		<% end %>
	  		<% end %>
		  </div>
	</div>
</div>
