<div class="container-fluid">
 	<div class="row">
		<div class="col">
				<%= attachment_image_tag @guide, :guide_profile_image, :fill, 1000, 1000, size: '150x150', class: "rounded-circle"  %>
				<%= @guide.guide_username %>
				<%= @guide.guide_age %>
				<%= @guide.guide_about_me %>
				<p>チャットする　→ チャットルーム に行く</p>
				<p>他のguideもランダムで５人ほど表示する？</p>


				<% if @room.exists? %>
      		<%= link_to "チャットへ", room_path(current_tourist.rooms.find_by(guide_id: @guide.id)) %>
    		<% else %>
          <%= form_for [:guide, @newroom], url: rooms_path do |f| %>
            <%= f.hidden_field :guide_id, :value => @guide.id %>
              <%= button_tag( class: "btn btn-primary btn-block") do %>
                <%= content_tag :span, "　チャットする", class: "glyphicon glyphicon-pencil" %>
              <% end %>
          <% end %>
        <% end %>
	 	</div>
	</div>
</div>
