<div class="top top-image">
	<div class="top-title">
		<div class="row">
			<div class="col">
				<p>WING IT</p>
			</div>
		</div>
		<p></p>
	</div>
</div>

<h1>GUIDES</h1>
<div class="row user-bigbox">
	<% @guides.each do |guide| %>
		<div class="user-box col-lg-2 col-4">
			<%= link_to guide_path(guide.id) do %>
      	<%= attachment_image_tag guide, :guide_profile_image, :fill, 1000, 1000, class: "rounded w-100" %>
    	<% end %>
    	<h5><%= guide.guide_username %></h5>
    </div>
  <% end %>
</div>
<div class="button-box">
	<%= link_to("See more", guides_path, {class: "button-A"}) %>
</div>

<div class="toppage-box">
	<div class="toppage-inner-box">
		<div class="toppage-inner-content">
			<p style="margin-top:3%; font-size: 300%;">Are you looking for guide?</p>
			<p style="font-size: 200%;">If you want, </p>
			<p style="color:darkgrey;">travelmates / Japanese guide / Japanese friends ... </p>
			<p style="font-size: 200%;">You can registrate here !</p>
			<div class="button-box"><%= link_to("tourist registrate", new_tourist_registration_path, {class: "button-B"}) %></div>
		</div>
	</div>
</div>



<h1>TOURISTS</h1>
<div class="row user-bigbox">
	<% @tourists.each do |tourist| %>
		<div class="user-box col-lg-2 col-4">
			<%= link_to tourist_path(tourist.id) do %>
      	<%= attachment_image_tag tourist, :tourist_profile_image, :fill, 1000, 1000, class: "rounded w-100" %>
    	<% end %>
    	<h5><%= tourist.tourist_username %></h5>
    </div>
  <% end %>
</div>
<div class="button-box">
		<%= link_to("See more", tourists_path, {class: "button"}) %>
</div>

<div class="toppage-box" style="background-color:#FFE8EC;">
	<div class="toppage-inner-box">
		<div class="toppage-inner-content">
			<p style="margin-top:3%; font-size: 300%;">国際交流しませんか？</p>
			<p style="font-size: 200%;">もしあなたが、 </p>
			<p style="color:darkgrey;">出身地に詳しい / 新しい言語を勉強したい / 外国人の友達が欲しい なら... </p>
			<p style="font-size: 200%;">登録しましょう！</p>
			<div class="button-box"><%= link_to("tourist registrate", new_guide_registration_path, {class: "button-B"}) %></div>
		</div>
	</div>
</div>




