<h1>ユーザー一覧</h1>

<% @cds.each do |cd| %>
<% cd.restocks.each do |restock| %>
  <tr>
　　　　　　　　　　　　　<td class="active"><%= restock.restock_date %></td>
    <td class="active"><%= cd.artist.artist_name %></td>
    <td class="active"><%= cd.cd_title %></td>
    <td class="active"><%= cd.price %></td>
    <td class="active"><%= cd.status %></td>
    <td class="active"><%= cd.stock %></td>
    <td class="active"><%= link_to "入荷を追加する", new_admin_restock_path(@cds), class:"btn btn-primary" %>
    <td class="active"><%= link_to "編集", edit_admin_cd_path(cd.id),   class:"btn btn-success" %></td>
　</tr>
<% end %>
<% end %>





<%= link_to "logout", destroy_admin_session_path, method: :delete %>