<div class="mx-auto" style="width: 200px;">
  <h2>guide sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :guide_lastname %>
        <%= f.text_field :guide_lastname, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :guide_firstname %>
        <%= f.text_field :guide_firstname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :guide_username %>
        <%= f.text_field :guide_username, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :guide_gender %>
          <label><%= f.radio_button :guide_gender, 1 %>男</label>
          <label><%= f.radio_button :guide_gender, 2 %>女</label>
          <label><%= f.radio_button :guide_gender, 3 %>その他</label>
      </div>
      <div class="field">
        <%= f.label :guide_age %>
          <%= number_field :guide_age, nil, min: 16, max: 59, size: 1 %>
      </div>
      <div class="field">
        <%= f.label :guide_profile_image %>
        <%= f.file_field :guide_profile_image, size:10, maxlength:15 %>
      </div>
      <div class="field">
        <%= f.label :guide_about_me %>
        <%= f.text_field :guide_about_me, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :daysofweek %>
        <%= f.date_field :daysofweek %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "アカウント登録" %>
      </div>
    <% end %>

    <%= render "guides/shared/links" %>
    <%= link_to "Are you tourist?", new_tourist_registration_path, class:"btn btn-outline-danger"%>

    </div>
