<div class="mx-auto" style="width: 200px;">
  <h2>ガイド登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :性 %>
        <%= f.text_field :guide_lastname, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :名 %>
        <%= f.text_field :guide_firstname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :ニックネーム %>
        <%= f.text_field :guide_username, autofocus: true %>
      </div>
      <div class="field">
        <label><%= f.label :男 %></label>
          <%= f.radio_button :guide_gender, "男" %>
        <label><%= f.label :女 %></label>
          <%= f.radio_button :guide_gender, "女" %>
        <label><%= f.label :その他 %></label>
          <%= f.radio_button :guide_gender, "その他" %>
      </div>
      <div class="field">
        <%= f.label :年齢 %>(半角)
          <%= f.text_field :guide_age, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :プロフィール写真 %>
        <%= f.file_field :guide_profile_image, size:10, maxlength:15 %>
      </div>
      <div class="field">
        <%= f.label :自己紹介 %>
        <%= f.text_field :guide_about_me, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :パスワード確認 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "アカウント登録" %>
      </div>
    <% end %>

    <%= render "guides/shared/links" %>
    <%= link_to "Are you tourist?", new_tourist_registration_path, class:"btn btn-outline-danger"%>

    </div>
