<div class="room container">

	<h1>Chats</h1>
		<% if guide_signed_in? %>
			<% @rooms.each do |room| %>
				<div class="row text-center">
					<div class="col-lg-4 col-12 offset-lg-2 py-2">
		    		<%= link_to room_path(room.id) do %>
			  			<%= attachment_image_tag room.tourist, :tourist_profile_image, :fill, 1000, 1000, size: '150x150', class: "rounded-circle" %>
	          <% end %>
	       	</div>
	        <div class="col-lg-4 col-12 py-lg-5">
	          <%= room.tourist.tourist_username %>
	        </div>
	      </div>
	    <% end %>

		<% elsif tourist_signed_in? %>
			<% @rooms.each do |room| %>
				<div class="row text-center">
					<div class="col-lg-4 col-12 offset-lg-2 py-2">
			  		<%= link_to room_path(room.id) do %>
			  			<%= attachment_image_tag room.guide, :guide_profile_image, :fill, 1000, 1000, size: '150x150', class: "rounded-circle" %>
	          <% end %>
	        </div>
	        <div class="col-lg-4 col-12 py-lg-5">
	          <%= room.guide.guide_username %>
	        </div>
	        </div>
	    <% end %>
	  <% end %>
</div>

