<!-- <h1>チャット</h1>
<% if guide_signed_in? %>
  <h3><%= @tourist.tourist_username %>とのチャットルーム</h3>
  <div class="chat-field">
    <% @messages.each do |m| %>
      <% if m.is_guide %>
        <div class="right-message">
          <%= render @messages %>
        </div>
      <% else %>
        <div class="left-message">
          <%= m.body %>
        </div>
      <% end %>
    <% end %>
  </div>


<% elsif tourist_signed_in?%>
  <h3><%= @guide.guide_username %>とのチャットルーム</h3>
  <div class="chat-field">
    <% @messages.each do |m| %>
      <% if m.is_guide %>
        <div class="left-message">
          <%= m.body %>
        </div>
      <% else %>
        <div class="right-message">
          <%= m.body %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %> -->

<div id="messages">
	<%= render @messages %>
</div>


<input type="text" id="chat-input" data-behavior="room_speaker">




<div id="room_id" data-room_id="<%= @room.id %>"></div>
<% if guide_signed_in? %>
	<div id="current_guide_id" data-guide_id="<%= current_guide.id %>"></div>
	<div id="current_tourist_id" data-tourist_id="0"></div>
<% elsif tourist_signed_in? %>
	<div id="current_guide_id" data-guide_id="0"></div>
	<div id="current_tourist_id" data-tourist_id="<%= current_tourist.id %>"></div>
<% end %>