<h1>観光者を探す</h1>

<div class="container">
	<%= search_form_for @q do |f| %>
	<div class="row">
		<div class="col-lg-10 col-12">
			<div class="row">
				<div class="col-lg-4 col-12">
					<p class="search-title">観光地</p>
					<%= f.collection_select :tourist_sightseeing_places_sightseeing_place_cont, TouristSightseeingPlace.select(:sightseeing_place).distinct, :sightseeing_place, :sightseeing_place, :include_blank => '---' %>
				</div>
				<div class="col-lg-4 col-12">
					<p class="search-title">学習言語</p>
					<%= f.collection_select :tourist_practicing_launguages_tourist_practicing_cont , TouristPracticingLaunguage.select(:tourist_practicing).distinct, :tourist_practicing, :tourist_practicing, :include_blank => '---' %>
				</div>
				<div class="col-lg-4 col-12">
					<p class="search-title">年齢</p>
				  <%= f.number_field :tourist_age_gteq, min: 16, max: 59, size: 1 %>-
				  <%= f.number_field :tourist_age_lt, min: 16, max: 59, size: 1 %>
				</div>
				<div class="col-lg-6 mt-3 col-12">
					<p class="search-title">日にち</p>
					<%= f.date_field :fromdate_gteq, include_blank: true %>~<%= f.date_field :todate_lteq, include_blank: true %>
				</div>
				<div class="col-lg-6 mt-3 col-12">
					<p class="search-title">性別</p>
					<%= f.radio_button :tourist_gender_eq, '', {:checked => true} %>blank
					<%= f.radio_button :tourist_gender_eq, 1 %>male
					<%= f.radio_button :tourist_gender_eq, 2 %>female
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-12 mt-5"><%= f.submit "検索", class: "form-control btn-outline-secondary" %></div>
		<% end %>
	</div>

	<div class="row">
		<% @tourists.each do |tourist| %>
			<div class="col-lg-4 col-6" style="margin-top:70px;">
				<%= link_to tourist_path(tourist.id) do %>
		      <%= attachment_image_tag tourist, :tourist_profile_image, :fill, 1000, 1000, class: "rounded w-100" %>
		    <% end %>
		    <h5><%= tourist.tourist_username %></h5>
		    <h6><%= tourist.tourist_about_me.truncate(20) %></h6>
	  	</div>
		<% end %>
	</div>
	<%= paginate @tourists %>
</div>
