<!DOCTYPE html>
<html>
  <head>
    <title>Wingit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <header>
      <nav class="navbar navbar-light" style="background-color:#ffffff;">
        <a class="navbar-brand" href="#">WINGIT</a>
        <ul class="nav navbar-nav navbar-right">
          <% if tourist_signed_in? %>
            <%= link_to 'mypage', mypage_tourist_path %>
            <%= link_to "logout", destroy_tourist_session_path, method: :delete %>
          <% elsif guide_signed_in?%>
            <%= link_to 'mypage', mypage_guide_path %>
            <%= link_to "logout", destroy_guide_session_path, method: :delete %>
          <% else %>
            <%= link_to "新規登録", new_tourist_registration_path %>
            <%= link_to "ログイン", new_tourist_session_path %>
          <% end %>
         </ul>
      </nav>
    </header>

  <body>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
 -->

    <%= yield %>
  </body>
</html>
