<!DOCTYPE html>
<html>
  <head>
    <title>Wingit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <header>
    </header>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <p>tourist</p>
    <% if tourist_signed_in? %>
      <%= link_to 'mypage', tourists_mypage_path %>
      <%= link_to "logout", destroy_tourist_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_tourist_registration_path %>
      <%= link_to "ログイン", new_tourist_session_path %>
    <% end %>

    <p>guide</p>
    <% if guide_signed_in? %>
      <%= link_to 'mypage', guides_mypage_path %>
      <%= link_to "logout", destroy_guide_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_guide_registration_path %>
      <%= link_to "ログイン", new_guide_session_path %>
    <% end %>


    <%= yield %>
  </body>
</html>
