<!DOCTYPE html>
<html>
  <head>
    <title>Wingit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>


    <header>
      <nav class="navbar navbar-light" style="background-color:#ffffff;">
        <a class="navbar-brand" href="#">WINGIT</a>
        <ul class="nav navbar-nav navbar-right">
          <% if tourist_signed_in? %>
            <%= link_to mypage_tourist_path(current_tourist.id) do %>
            <%= attachment_image_tag current_tourist, :tourist_profile_image, :fill, 1000, 1000, size: '50x50', class: "rounded-circle"  %>
          <% end %>
          <% elsif guide_signed_in?%>
            <%= link_to mypage_guide_path(current_guide.id) do %>
            <%= attachment_image_tag current_guide, :guide_profile_image, :fill, 1000, 1000, size: '50x50', class: "rounded-circle"  %>
          <% end %>
          <% else %>
            <%= link_to "新規登録", new_tourist_registration_path %>
            <%= link_to "ログイン", new_tourist_session_path %>
          <% end %>
         </ul>
      </nav>
    </header>

  <body>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
 -->

    <%= yield %>
  </body>
</html>
