<!DOCTYPE html>
<html>
  <head>
    <title>Wingit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>


  <div class="wrapper">

    <header>
      <nav class="navbar navbar-fixed-top" style="background-color:#ffffff;">
        <div class="navbar-header navbar-left">
            <%= link_to image_tag("WINGIT.jpg", class: "image", height: "40", ), root_path %>
          </div>
        <ul class="nav navbar-nav navbar-right">
          <div class="menu-trigger" href="">
            <span></span>
            <span></span>
            <span></span>
          </div>
        <side>
          <ul>
            <% if tourist_signed_in? %>
              <li><%= link_to "mypage", mypage_tourist_path(current_tourist.id) %></li>
              <li><%= link_to "logout", destroy_tourist_session_path, method: :delete %></li>
              <li><%= link_to "indexpage", guides_path %></li>
              <li><%= link_to "showpage", tourist_path(current_tourist.id) %></li>
              <li><%= link_to "チャットルーム一覧", rooms_path(current_tourist.id) %></li>
            <% elsif guide_signed_in?%>
              <li><%= link_to "mypage", mypage_guide_path(current_guide.id) %></li>
              <li><%= link_to "logout", destroy_guide_session_path, method: :delete %></li>
              <li><%= link_to "indexpage", tourists_path %></li>
              <li><%= link_to "showpage", guide_path(current_guide.id) %></li>
              <li><%= link_to "チャットルーム一覧", rooms_path(current_guide.id) %></li>
            <% else %>
              <li><%= link_to "新規登録", new_tourist_registration_path %></li>
              <li><%= link_to "ログイン", new_tourist_session_path %></li>
          <% end %>
          </ul>
        </side>
        <div class="overlay"></div>
      </nav>
    </header>

    <body>
      <main>
      <!-- <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    -->
      <%= yield %>
      </main>
    </body>
  </div>

</html>
